---
import Layout from "../layouts/Layout.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the ``, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <!-- main-area -->
  <main class="main-area fix">
    <!-- choose-area -->
    <section
      class="choose__area-two section-py-140 choose__bg"
      data-background="/img/bg/h4_choose_bg.jpg"
    >
      <div class="container" data-aos="fade-up" data-aos-delay="200">
        <div class="row align-items-center justify-content-center">
          <div class="col-lg-6 col-md-10">
            <div class="choose__img-two">
              <img
                src="/img/others/h4_choose_img.jpg"
                alt="img"
                data-aos="fade-right"
                data-aos-delay="250"
              />
              <div class="circle__text-wrap">
                <div class="icon">
                  <img
                    src="/img/icons/circle_icon.svg"
                    alt=""
                    class="injectable"
                  />
                </div>
                <div class="content">
                  <h6 class="circle rotateme">
                    Learn . Succeed . Grow . Excel .
                  </h6>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="choose__content-two">
              <div class="section__title mb-20">
                <h2 class="title-two">
                  <span>Premier Institute for </span> Nursing Exam <span
                    >Preparation
                  </span> Success
                </h2>
              </div>
              <p>
                TNC Nursing is a top-tier institute dedicated to preparing
                students for competitive nursing exams with high success rates
                and expert guidance.
              </p>
              <div class="choose__content-inner">
                <div class="row align-items-center gutter-20">
                  <div class="col-sm-5 order-0 order-sm-2">
                    <div class="choose__content-inner-img">
                      <img
                        src="/img/others/h4_choose_img02.jpg"
                        alt="img"
                        data-aos="fade-left"
                        data-aos-delay="300"
                      />
                    </div>
                  </div>
                  <div class="col-sm-7">
                    <ul class="about__info-list list-wrap">
                      <li class="about__info-list-item">
                        <i class="flaticon-angle-right"></i>
                        <p class="content">High success rates in exams</p>
                      </li>
                      <li class="about__info-list-item">
                        <i class="flaticon-angle-right"></i>
                        <p class="content">Online and offline course options</p>
                      </li>
                      <li class="about__info-list-item">
                        <i class="flaticon-angle-right"></i>
                        <p class="content">
                          Expert faculty and personalized guidance
                        </p>
                      </li>
                    </ul>
                    <a class="btn arrow-btn" href="contact.html"
                      >Get in Touch <img
                        src="/img/icons/right_arrow.svg"
                        alt=""
                        class="injectable"
                      /></a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- choose-area-end -->

    <!-- features-area -->
    <section class="instructor__area" data-aos="fade-up" data-aos-delay="200">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-xl-6 col-lg-8">
            <div class="section__title text-center mb-40">
              <span class="sub-title">Why Choose Us?</span>
              <h2 class="title">Choose Excellence: Join TNC Nursing</h2>
              <p>
                Join TNC Nursing for expert guidance, proven success, <br /> and
                tailored learning experiences.
              </p>
            </div>
          </div>
        </div>
        <div class="features__item-wrap">
          <div class="row justify-content-center">
            <div
              class="col-lg-4 col-md-6"
              data-aos="fade-right"
              data-aos-delay="200"
            >
              <div class="features__item-two">
                <div class="features__content-two">
                  <div class="content-top">
                    <div class="features__icon-two">
                      <img
                        src="/img/icons/h2_features_icon01.svg"
                        alt="img"
                        class="injectable"
                      />
                    </div>
                    <h2 class="title">Expert Faculty</h2>
                  </div>
                  <p>
                    Gain insights from experienced professionals with vast
                    expertise in nursing education and practice.
                  </p>
                </div>
                <div class="features__item-shape">
                  <img
                    src="/img/others/features_item_shape.svg"
                    alt="img"
                    class="injectable"
                  />
                </div>
              </div>
            </div>
            <div
              class="col-lg-4 col-md-6"
              data-aos="fade-up"
              data-aos-delay="250"
            >
              <div class="features__item-two">
                <div class="features__content-two">
                  <div class="content-top">
                    <div class="features__icon-two">
                      <img
                        src="/img/icons/h2_features_icon02.svg"
                        alt="img"
                        class="injectable"
                      />
                    </div>
                    <h2 class="title">Proven Success</h2>
                  </div>
                  <p>
                    Achieve your professional career goals with our exceptional
                    high success rate in competitive nursing exams.
                  </p>
                </div>
                <div class="features__item-shape">
                  <img
                    src="/img/others/features_item_shape.svg"
                    alt="img"
                    class="injectable"
                  />
                </div>
              </div>
            </div>
            <div
              class="col-lg-4 col-md-6"
              data-aos="fade-left"
              data-aos-delay="300"
            >
              <div class="features__item-two">
                <div class="features__content-two">
                  <div class="content-top">
                    <div class="features__icon-two">
                      <img
                        src="/img/icons/h2_features_icon03.svg"
                        alt="img"
                        class="injectable"
                      />
                    </div>
                    <h2 class="title">Comprehensive Resources</h2>
                  </div>
                  <p>
                    Access a comprehensive range of study materials, practice
                    exams, interactive quizzes, and online learning tools.
                  </p>
                </div>
                <div class="features__item-shape">
                  <img
                    src="/img/others/features_item_shape.svg"
                    alt="img"
                    class="injectable"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- features-area-end -->

    <!-- about-area -->
    <section class="about-area-two tg-motion-effects section-pb-120">
      <div class="container" data-aos="fade-up" data-aos-delay="200">
        <div class="row align-items-center justify-content-center">
          <div class="col-lg-6">
            <div class="faq__img-wrap tg-svg">
              <div
                class="faq__img faq__img-two"
                data-aos="fade-right"
                data-aos-delay="300"
              >
                <img src="/img/others/Bhojraj.png" alt="img" />
                <div class="shape-two">
                  <span
                    class="svg-icon"
                    id="faq-two-svg"
                    data-svg-icon="/img/others/faq_shape02.svg"></span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div
              class="about__content"
              data-aos="fade-left"
              data-aos-delay="250"
            >
              <div class="section__title">
                <span class="sub-title">About Our Founder</span>
                <h2 class="title">
                  Visionary Leadership in Nursing Education Excellence
                </h2>
              </div>
              <p class="desc">
                Bhojraj Palariya, the visionary founder of TNC Nursing, is
                committed to empowering aspiring nurses through high-quality
                training. With years of experience in education, he aims to help
                students excel in competitive nursing exams and build successful
                careers.
              </p>
              <p class="desc">
                Under his leadership, TNC Nursing has gained trust in the
                industry for its expert faculty, structured study plans, and
                high success rates. His dedication to excellence drives the
                institution’s mission to shape the future of nursing
                professionals.
              </p>
              <h6><i>-Bhojraj Palariya</i></h6>
              <p>Founder, TNC Nursing</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- about-area-end -->
  </main>
  <!-- main-area-end -->
  <script>
    const text = document.querySelector(".circle");
    text.innerHTML = text.textContent.replace(/\S/g, "<span>$&</span>");
    const element = document.querySelectorAll(".circle span");
    for (let i = 0; i < element.length; i++) {
      element[i].style.transform = "rotate(" + i * 13 + "deg)";
    }
  </script>
</Layout>
