<div
  class="tab-content"
  id="courseTabContent"
  data-aos="fade-up"
  data-aos-delay="400"
>
  <div
    class="tab-pane fade show active"
    id="all-tab-pane"
    role="tabpanel"
    aria-labelledby="all-tab"
    tabindex="0"
  >
    <div class="swiper courses-swiper-active">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="courses__item shine__animate-item">
            <div class="courses__item-thumb">
              <a class="shine__animate-link" href="course-details.html">
                <img src="/img/courses/course_thumb01.jpg" alt="img" />
              </a>
            </div>
            <div class="courses__item-content">
              <ul class="courses__item-meta list-wrap">
                <li class="courses__item-tag">
                  <a href="course.html">NORCET</a>
                </li>
                <!-- <li class="avg-rating"><i class="fas fa-star"></i> (4.8 Reviews)</li> -->
              </ul>
              <h5 class="title">
                <a href="course-details.html">NORCET Preparation Course 2024</a>
              </h5>
              <p class="author">
                Intensive training for success in the NORCET exam awaits you
              </p>
              <div class="courses__item-bottom">
                <div class="button">
                  <a href="course-details.html">
                    <span class="text">Enroll Now</span>
                    <i class="flaticon-arrow-right"></i>
                  </a>
                </div>
                <!-- <h5 class="price">$15.00</h5> -->
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="courses__item shine__animate-item">
            <div class="courses__item-thumb">
              <a class="shine__animate-link" href="course-details.html">
                <img src="/img/courses/course_thumb02.jpg" alt="img" />
              </a>
            </div>
            <div class="courses__item-content">
              <ul class="courses__item-meta list-wrap">
                <li class="courses__item-tag">
                  <a href="course.html">Nursing</a>
                </li>
                <!-- <li class="avg-rating"><i class="fas fa-star"></i> (4.5 Reviews)</li> -->
              </ul>
              <h5 class="title">
                <a href="course-details.html"
                  >RRB Staff Nursing Exam 2024 Preparation</a
                >
              </h5>
              <p class="author">
                Focused training for success in RRB Staff Nurse exams
              </p>
              <div class="courses__item-bottom">
                <div class="button">
                  <a href="course-details.html">
                    <span class="text">Enroll Now</span>
                    <i class="flaticon-arrow-right"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="courses__item shine__animate-item">
            <div class="courses__item-thumb">
              <a class="shine__animate-link" href="course-details.html">
                <img src="/img/courses/course_thumb03.jpg" alt="img" />
              </a>
            </div>
            <div class="courses__item-content">
              <ul class="courses__item-meta list-wrap">
                <li class="courses__item-tag">
                  <a href="course.html">Nursing</a>
                </li>
              </ul>
              <h5 class="title">
                <a href="course-details.html"
                  >KGMU Nursing Exam Preparation 2024</a
                >
              </h5>
              <p class="author">
                Comprehensive preparation for KGMU nursing entrance exam success
              </p>
              <div class="courses__item-bottom">
                <div class="button">
                  <a href="course-details.html">
                    <span class="text">Enroll Now</span>
                    <i class="flaticon-arrow-right"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="courses__item shine__animate-item">
            <div class="courses__item-thumb">
              <a class="shine__animate-link" href="course-details.html">
                <img src="/img/courses/course_thumb04.jpg" alt="img" />
              </a>
            </div>
            <div class="courses__item-content">
              <ul class="courses__item-meta list-wrap">
                <li class="courses__item-tag">
                  <a href="course.html">Nursing</a>
                </li>
              </ul>
              <h5 class="title">
                <a href="course-details.html"
                  >State-level Nursing Exam Preparation 2024</a
                >
              </h5>
              <p class="author">
                Tailored courses to excel in state-specific nursing entrance
                exams
              </p>
              <div class="courses__item-bottom">
                <div class="button">
                  <a href="course-details.html">
                    <span class="text">Enroll Now</span>
                    <i class="flaticon-arrow-right"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="courses__item shine__animate-item">
            <div class="courses__item-thumb">
              <a class="shine__animate-link" href="course-details.html">
                <img src="/img/courses/course_thumb05.jpg" alt="img" />
              </a>
            </div>
            <div class="courses__item-content">
              <ul class="courses__item-meta list-wrap">
                <li class="courses__item-tag">
                  <a href="course.html">NORCET</a>
                </li>
              </ul>
              <h5 class="title">
                <a href="course-details.html">NORCET Preparation Course 2024</a>
              </h5>
              <p class="author">
                Intensive training for success in the NORCET exam awaits you
              </p>
              <div class="courses__item-bottom">
                <div class="button">
                  <a href="course-details.html">
                    <span class="text">Enroll Now</span>
                    <i class="flaticon-arrow-right"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="courses__item shine__animate-item">
            <div class="courses__item-thumb">
              <a class="shine__animate-link" href="course-details.html">
                <img src="/img/courses/course_thumb06.jpg" alt="img" />
              </a>
            </div>
            <div class="courses__item-content">
              <ul class="courses__item-meta list-wrap">
                <li class="courses__item-tag">
                  <a href="course.html">Railway</a>
                </li>
              </ul>
              <h5 class="title">
                <a href="course-details.html"
                  >RRB Staff Nursing Exam 2024 Preparation</a
                >
              </h5>
              <p class="author">
                Focused training for success in RRB Staff Nurse exams
              </p>
              <div class="courses__item-bottom">
                <div class="button">
                  <a href="course-details.html">
                    <span class="text">Enroll Now</span>
                    <i class="flaticon-arrow-right"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="courses__nav">
      <div class="courses-button-prev">
        <i class="flaticon-arrow-right"></i>
      </div>
      <div class="courses-button-next">
        <i class="flaticon-arrow-right"></i>
      </div>
    </div>
  </div>
</div>
