<!-- footer-area -->
<footer class="footer__area">
  <div class="footer__top">
    <div class="container">
      <div class="row">
        <div class="col-xl-3 col-lg-4 col-md-6">
          <div class="footer__widget">
            <div class="logo mb-35">
              <a href="index.html"
                ><img
                  src="/img/TNC-logo.png"
                  alt="img"
                  style="width: 100px;"
                /></a
              >
            </div>
            <div class="footer__content footer__link">
              <p>
                TNC Nursing: Leading institute for competitive nursing exam
                preparation, offering online and offline courses.
              </p>
              <ul class="list-wrap">
                <li>
                  <a
                    href="https://maps.app.goo.gl/Lk8NvVTADcfZtj2D7"
                    target="_blank"
                    >Near Bharat petrol pump, Golumber, Anisabad, Patna, Bihar
                    800002</a
                  >
                </li>
                <li><a href="tel:+9174849 99051">(+91) 74849 99051</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
          <div class="footer__widget">
            <h4 class="footer__widget-title">Useful Links</h4>
            <div class="footer__link">
              <ul class="list-wrap">
                <li><a href="index.html">Home</a></li>
                <li><a href="courses.html">Courses</a></li>
                <li><a href="#">Testimonials</a></li>
                <li><a href="contact.html">Contact Us</a></li>
                <li><a href="#">Successfull Stories</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
          <div class="footer__widget">
            <h4 class="footer__widget-title">Resources</h4>
            <div class="footer__link">
              <ul class="list-wrap">
                <li><a href="about-us.html">About</a></li>
                <li><a href="about-us.html">Mock Tests</a></li>
                <li><a href="contact.html">Contact Us</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Terms & Conditions</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6">
          <div class="footer__widget">
            <h4 class="footer__widget-title">Get In Touch</h4>
            <div class="footer__contact-content">
              <p>Get in touch for inquiries or support via phone or email</p>
              <ul class="list-wrap footer__social">
                <li>
                  <a
                    href="https://www.facebook.com/tncnursing1/"
                    target="_blank"
                  >
                    <img
                      src="/img/icons/facebook.svg"
                      alt="img"
                      class="injectable"
                    />
                  </a>
                </li>
                <li>
                  <a href="#" target="_blank">
                    <img
                      src="/img/icons/twitter.svg"
                      alt="img"
                      class="injectable"
                    />
                  </a>
                </li>
                <li>
                  <a href="#" target="_blank">
                    <img
                      src="/img/icons/whatsapp.svg"
                      alt="img"
                      class="injectable"
                    />
                  </a>
                </li>
                <li>
                  <a
                    href="https://www.instagram.com/tncnursing/"
                    target="_blank"
                  >
                    <img
                      src="/img/icons/instagram.svg"
                      alt="img"
                      class="injectable"
                    />
                  </a>
                </li>
                <li>
                  <a
                    href="https://www.youtube.com/@tncnursingclassespatna"
                    target="_blank"
                  >
                    <img
                      src="/img/icons/youtube.svg"
                      alt="img"
                      class="injectable"
                    />
                  </a>
                </li>
              </ul>
            </div>
            <div class="app-download">
              <a
                href="https://play.google.com/store/apps/details?id=com.tncnursing&hl=en_IN"
                target="_blank"
                ><img src="/img/others/google-play.svg" alt="img" /></a
              >
              <a
                href="https://apps.apple.com/in/app/team-nursing-classes-tnc/id6445818921"
                target="_blank"
                ><img src="/img/others/apple-store.svg" alt="img" /></a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer__bottom">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-7">
          <div class="copy-right-text">
            <p>© 2024 TNC NURSING. All rights reserved.</p>
          </div>
        </div>
        <div class="col-md-5">
          <div class="footer__bottom-menu">
            <ul class="list-wrap">
              <li><a href="contact.html">Terms & Conditions</a></li>
              <li><a href="contact.html">Privacy Policy</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- footer-area-end -->
